$font-family: "Golos Text", sans-serif;

$font-size-h1: 64px;
$font-size-h2: 42px;
$font-size-title: 24px;
$font-size-description: 16px;
$font-size-default: 14px;

$black: #000000;
$white: #ffffff;
$red: #ff0000;
$dark: #6F6F6F;
$grey: #F5F5F5;
$grey-dark: #D9D9D9;

$icon: clamp(28px, 6vw, 42px);